// Variable overrides
// Colours
$theme-colors: (
  "primary": #3b8070,
);
$body-color: #343a40;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
$font-family-sans-serif:    "Noto Sans", sans-serif, Arial, "Noto Color Emoji";                            

// Import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';


// Additional global CSS
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-family: 'Quicksand', 'Segoe UI';
}
.table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  align-items: center;
  text-align: center;
  justify-content: center;
}